#mycarousel{
  width: 400px;
  height: 300px;
  border: 2px solid black;
  overflow: hidden;
  margin: 0 auto;

}
 #mycarousel ul { 
  list-style-type: none; 
  margin: 0; padding: 0; 
  width: 2000; }

#mycarousel li { 
  list-style: none; 
  width: 400px;
  height: 300px;
  float: left; 
} 

